<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>

  <body>
    <div class="login-page">
      <!-- LEFT SIDE -->
      <div class="login-left">
        <div class="login-card">
          <h2>Welcome Back</h2>
          <p class="subtitle">Please login to your account</p>

          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}

          <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />

            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter your password"
              required
            />

            <div class="options">
              <label>
                <input type="checkbox" name="remember" />
                Remember me
              </label>

              <a href="{{ url_for('auth.forgot_password') }}">
                Forgot password?
              </a>
            </div>

            <button type="submit">Login</button>
          </form>

          <p class="register">
            <label
              >Don't have an account?
              <a href="{{ url_for('auth.register') }}">Register</a></label
            >
          </p>
        </div>
      </div>

      <!-- RIGHT SIDE -->
      <div class="login-right">
        <div class="overlay-text">
          <h2>ClubSync</h2>
          <p>
            Join clubs, attend events, and connect with student communities.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
